<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title></head>
<body>
<div style="clear:both; padding-top:20px;">
    <table class="table_list" width="800" border="0" align="center" cellpadding="0" cellspacing="0"
           style="position:relative;">
        <tbody>
        <tr>
            <td colspan="8">
                <div align="center"></div></td>
        </tr>
        <tr style="height:23px">
            <td style="width:48px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_left_back.gif&quot;)">
                번호
            </td>
            <td style="width:px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_back.gif&quot;)"></td>
            <td style="color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_back.gif&quot;)">
                제 목
            </td>
            <td style="width:80px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_back.gif&quot;)">
                이름
            </td>
            <td style="width:85px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_back.gif&quot;)">
                날짜
            </td>
            <td style="width:32px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_back.gif&quot;)">
                조회
            </td>
            <td style="width:50px;color:#004080;font-size:12px;text-align:center; background:url(&quot;http://www.todayhumor.co.kr/board/images/bar_right_back.gif&quot;) no-repeat -17px 0px;">
                추천
            </td>
        </tr>
        <tr class="view list_tr_soccer">
            <td class="no"><a
                    href="/board/view.php?table=soccer&amp;no=165218&amp;s_no=12687065&amp;no_tag=1&amp;kind=total&amp;page=1"
                    target="_top" style="color:#444;font-size:10px;font-family:Tahoma">12687065</a></td>
            <td class="icon">
                <div class="board_icon_mini soccer"
                     style="background-image: url(&quot;http://www.todayhumor.co.kr/board/images/icon_sprites.gif?02&quot;);"></div>
            </td>
            <td class="subject"><a
                    href="/board/view.php?table=soccer&amp;no=165218&amp;s_no=12687065&amp;kind=total&amp;page=1"
                    target="_top">16/17시즌 알렉시스 산체스 스탯 평점 .jpg</a> <span style="margin-left:4px;"><img
                    src="http://www.todayhumor.co.kr/board/images/list_icon_photo.gif"
                    style="vertical-align:middle; margin-bottom:1px;"> </span></td>
            <td class="name"><a href="list.php?kind=member&amp;mn=433917" target="_blank"
                                class="list_name_member">좋은연인</a></td>
            <td class="date">16/10/22 18:54</td>
            <td class="hits">0</td>
            <td class="oknok">0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>